<a href="https://colab.research.google.com/github/riveracross/economy_open/blob/main/houseaccount.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gspread
print(gspread.__version__)

6.0.2

# 2024_expenditureコード

In [ ]:
###2024_expenditureコード###
###Ver.01###
###2024-08-30###

from warnings import resetwarnings
from re import I

# 認証のためのコード
#参考：https://qiita.com/FrozenVoice/items/d9cc04b3f63f4b2d49c2
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

houseaccount ='[ここにspreadsheetのURLを挿入]'

#worksheetの2024_houseaccountを選ぶ　番号では(0)となる
worksheet = gc.open_by_url(houseaccount).get_worksheet(0)

import pandas as pd

#[1:]で２行目からをデータ、[0]で１行目をindexに指定している。
#参考：https://note.com/kohaku935/n/nc13bcd11632d
df = pd.DataFrame(worksheet.get_all_values()[1:], columns=worksheet.get_all_values()[0])
df["Date"] = pd.to_datetime(df["Date"])

#DateのSeriesから年月のSeriesを作成 object型に変化している！
df = df.rename({"Date":"YearMonth"},axis="columns")
Date_series =df["YearMonth"].dt.strftime("%Y年%m月")
#print(YearMonth_series)
#LeftItemのSeriesを作成
LItem_series = df["LeftItem"]
#print(LItem_series)
#AmountのSeriesを作成
df["Amount"] = df["Amount"].str.replace(',','')
Amount_series = df["Amount"].astype(int)
#print(Amount_series)
#RightItemのSeriesを作成
RItem_series = df["RightItem"]
#RemarkのSeriesを作成
Remark_series = df["Remark"]
#各Seriesを連結させてDataFrameを作成
df_alldata = pd.concat([LItem_series,Date_series,Amount_series,RItem_series,Remark_series],axis=1)
#print(df)

#df_alldataを使って、df_expenditureデータの作成
df = df_alldata

#不要な行を削除
##LeftItemのうちで不要な科目のリストを除外
##参考：https://nomuotorinko.com/python_isin/
##参考：https://monaledge.com/article/347
#左方の除外リスト
exclude_left = ["Hcash","Ycash","Osav","Rsav","Nsav","Fsav","Nyub","Hyub","Point","Stock","Svalu","Build","Land","Vehi","Rcard","Acard","Mcard","Rassets","Rearning","Vdif","MS","YM","SI","DI","CG","BN","OI"]
#~isinを使って除外する
df = df[~df["LeftItem"].isin(exclude_left)]

#大科目"Unit"に分類
##控除
Deduction = ("cded","ftax","ctax")
df.loc[df["LeftItem"].isin(Deduction),"Unit"] = "1.Deduction"
##固定費
FixedExpenses = ("rent","tel","prov","nhk","sch","edu","yins","nins","hins","water","gas","elec","kero")
df.loc[df["LeftItem"].isin(FixedExpenses),"Unit"] = "2.FixedExpenses"
##変動費
VariableExpenses = ["food","resta","health","dneeds","gasoline","vment","child","culture","social","cloth","study","job","hmade","garden","care","petty"]
df.loc[df["LeftItem"].isin(VariableExpenses),"Unit"] = "3.VariableExpenses"
##特別支出
ExtraordinaryExpenses = ["scost","icost","closs","ecost"]
df.loc[df["LeftItem"].isin(ExtraordinaryExpenses),"Unit"] = "4.ExtraordinaryExpenses"
#print(df_Extra)


#print(df)

#ColumnsのLeftItemをindexに指定
#df = df.set_index("LeftItem")

#データフレームのcolumnsの型を確認
#df.info()

#pivot_tableを使ってインデックスのLeftItemごとの年月日の合計を出す
df_pivot = df.pivot_table(index=["Unit","LeftItem"], columns="YearMonth", values=["Amount"],aggfunc=sum)
#df_pivot = df.pivot_table(index="Date",columns="LeftItem", values=["Amount"],aggfunc=sum)
df_pivot = df_pivot["Amount"].fillna(0)
df_pivot = pd.DataFrame(df_pivot).astype(int)
##fillna(0)をすると小数点以下がつくので、整数(int)に変換
df2 = df_pivot

#インデックスのUnitでソート
df2 = df2.sort_index(level='Unit')

#２つのインデックス、"LeftItem"と"Unit"を列に変換
df2.reset_index(inplace= True)
df2 = df2.rename(columns={'index': 'Items'})

#print(df2)

#LeftItemごとの平均値を求める
df2["Average"] = df2.iloc[:,2:].mean(axis=1).astype(int)

# Averageの列を3列目に移動
target_col = "Average"
df_target = df2[target_col]
##入れ替え対称の列を削除
df2 = df2.drop(target_col, axis=1)
##任意の場所に対象の列を挿入
df2.insert(2, target_col, df_target)
#Unit列を優先し、Average列で昇順にソート
df2 = df2.sort_values(["Unit","Average"], ascending=[True,False])

#DataFrameを切り分け、各Unitの最終行に合計を入れ、総合計も入れる
##控除
df2_Deduc = df2[df2["Unit"].isin(["1.Deduction"])]
df2_DeducAll = pd.concat([df2_Deduc,pd.DataFrame(df2_Deduc.sum(numeric_only=True)).T])
##固定費
df2_Fixed = df2[df2["Unit"].isin(["2.FixedExpenses"])]
df2_FixedAll = pd.concat([df2_Fixed,pd.DataFrame(df2_Fixed.sum(numeric_only=True)).T])
##変動費
df2_Variable = df2[df2["Unit"].isin(["3.VariableExpenses"])]
df2_VariableAll = pd.concat([df2_Variable,pd.DataFrame(df2_Variable.sum(numeric_only=True)).T])
##特別支出
df2_Extra = df2[df2["Unit"].isin(["4.ExtraordinaryExpenses"])]
df2_ExtraAll = pd.concat([df2_Extra,pd.DataFrame(df2_Extra.sum(numeric_only=True)).T])
##総合計のため上で作ったdf2をもってきて、合計する
df2_sum = df2.sum(numeric_only=True)
##合計を含んだ各Unitをつなぎ合わせる
df2_alldata = pd.concat([df2_DeducAll,df2_FixedAll,df2_VariableAll,df2_ExtraAll],axis=0)
###最後に総合計もつなぎ合わせ、すべてつなぎ合わせたら終わり！！！
df2_alldata = pd.concat([df2_alldata,pd.DataFrame(df2_sum).T])
print(df2_alldata)

df_expenditure = df2_alldata
#print(df_expenditure)

#スプレッドシートに書き出し
from gspread_dataframe import set_with_dataframe
expenditure ='[ここに書き出し用spreadsheetのＵＲＬを挿入]'
#2024_expenditureのシート名"alldata"に上書きとなる　get_worksheet()のところを2にしているため
worksheet = gc.open_by_url(expenditure).get_worksheet(0)
set_with_dataframe(worksheet, df_expenditure)

<ipython-input-68-f0c3ef2fac1a>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["LeftItem"].isin(Deduction),"Unit"] = "1.Deduction"
<ipython-input-68-f0c3ef2fac1a>:87: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_pivot = df.pivot_table(index=["Unit","LeftItem"], columns="YearMonth", values=["Amount"],aggfunc=sum)

YearMonth                     Unit  LeftItem  Average  2024年01月  2024年02月  \
1                      1.Deduction      ctax      750         0         0
2                      1.Deduction      ftax       26         0         0
0                      1.Deduction      cded       11         0         0
0                              NaN       NaN      787         0         0
11                 2.FixedExpenses      rent    30000     30000     30000
15                 2.FixedExpenses      yins    20329     20329     20329
3                  2.FixedExpenses       edu    18883     26900     69200
9                  2.FixedExpenses      nins    14268     14268     14268
12                 2.FixedExpenses       sch     6885     12620     11561
13                 2.FixedExpenses       tel     5692      8724      9088
5                  2.FixedExpenses       gas     4565      8923     10980
6                  2.FixedExpenses      hins     4000      4000      4000
14                 2.FixedExpenses     water     3278     10053     10053
4                  2.FixedExpenses      elec     3053      7388      5642
8                  2.FixedExpenses       nhk     2016      2016      2016
10                 2.FixedExpenses      prov     1913      3281      3281
7                  2.FixedExpenses      kero      627      5718         0
0                              NaN       NaN   115509    154220    190418
21              3.VariableExpenses      food    28805     37519     53166
29              3.VariableExpenses    social    14196      1644     14478
17              3.VariableExpenses     child     7464     13431     15503
23              3.VariableExpenses  gasoline     6378      8673      5137
28              3.VariableExpenses     resta     5531      1200      8965
20              3.VariableExpenses    dneeds     4409      7032      6937
18              3.VariableExpenses     cloth     4243     15638      2990
19              3.VariableExpenses   culture     3734      3253     14542
16              3.VariableExpenses      care     3350         0         0
24              3.VariableExpenses    health     2606      3754     12778
27              3.VariableExpenses     petty     1369       835         0
31              3.VariableExpenses     vment      771         0         0
30              3.VariableExpenses     study      545       540       990
26              3.VariableExpenses       job      434      1100         0
22              3.VariableExpenses    garden      215         0       400
25              3.VariableExpenses     hmade       13       162         0
0                              NaN       NaN    84063     94781    135886
32         4.ExtraordinaryExpenses     ecost    10188         0     41800
33         4.ExtraordinaryExpenses     scost      315         0      1812
0                              NaN       NaN    10503         0     43612
0                              NaN       NaN   210862    249001    369916

YearMonth  2024年03月  2024年04月  2024年05月  2024年06月  2024年07月  2024年08月  \
1                 0         0      9000         0         0         0
2                 0         0         0         0         0       320
0                 0         0         0         0         0       132
0                 0         0      9000         0         0       452
11            30000     30000     30000     30000     30000     30000
15            20329     20329     20329     20329     20329     20329
3             23900     33900     24900     23900     23900         0
9             14268     14268     14268     14268     14268     14268
12             5660     14000     13360     12860     12560         0
13             7645     10679      7671      7209      7294      2000
5             10247      9809      7184      7648         0         0
6              4000      4000      4000      4000      4000      4000
14                0      9185         0     10053         0         0
4              6067      6647      5803      5091         0         0
8              2016      2016      2016      2016      2016      2016
10             3280      3280      3280      3281      3281         0
7              1816         0         0         0         0         0
0            129228    158113    132811    140655    117648     72613
21            65092     35370     54645     33468     51415     14994
29            44603     44759     35125     22490      2558      4698
17             2080         0     22583     11275     20598      4100
23            14370     11374     12782     13055      5445      5707
28             3826      6516     26531      7519      9616      2200
20             8006     10652      6986      5582      5365      2353
18             8433       980      6851         0     16026         0
19             8896      3090      8780       870      4675       710
16                0         0         0     20200     20000         0
24             6813         0         0      1200      6730         0
27              200     12174      3226         0         0         0
31             2465      3605      1800         0      1390         0
30             2600         0         0         0      1210      1200
26             1320         0         0      2130       330       330
22                0       272       328         0      1180       400
25                0         0         0         0         0         0
0            168704    128792    179637    117789    146538     36692
32            36570     31173      4320      3180      5220         0
33                0         0         0      1078         0       898
0             36570     31173      4320      4258      5220       898
0            334502    318078    325768    262702    269406    110655

YearMonth  2024年09月  2024年10月  2024年11月  2024年12月
1                 0         0         0         0
2                 0         0         0         0
0                 0         0         0         0
0                 0         0         0         0
11            30000     30000     30000     30000
15            20329     20329     20329     20329
3                 0         0         0         0
9             14268     14268     14268     14268
12                0         0         0         0
13             2000      2000      2000      2000
5                 0         0         0         0
6              4000      4000      4000      4000
14                0         0         0         0
4                 0         0         0         0
8              2016      2016      2016      2016
10                0         0         0         0
7                 0         0         0         0
0             72613     72613     72613     72613
21                0         0         0         0
29                0         0         0         0
17                0         0         0         0
23                0         0         0         0
28                0         0         0         0
20                0         0         0         0
18                0         0         0         0
19                0         0         0         0
16                0         0         0         0
24                0         0         0         0
27                0         0         0         0
31                0         0         0         0
30                0         0         0         0
26                0         0         0         0
22                0         0         0         0
25                0         0         0         0
0                 0         0         0         0
32                0         0         0         0
33                0         0         0         0
0                 0         0         0         0
0             72613     72613     72613     72613

# 2024_Profit&Lossコード